<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.dao.IUpnewsMapper">

    <insert id="insertSingnlNews" parameterType="com.lanou.entity.dto.NewsDto">

        insert into
                    tb_news(
                            id,
                            title,
                            cover,
                            content,
                            create,
                            author,
                            rank,
                            status,
                            notes
                    )values (
                            #{id},
                            #{title},
                            #{cover},
                            #{content},
                            #{create},
                            #{author},
                            #{rank},
                            #{status},
                            #{notes}
                    )

    </insert>

</mapper>